### Taller práctico
# Estudio de asteroides con los datos JPL-NASA
Septiembre 2021
#### Campaña boliviana de búsqueda de asteroides (ABASC)

### 1. Instrucciones

#### OPCIÓN 1: UTILIZAR LA COMPUTADORA (ARCHIVOS DESCARGADOS)

1. Descargar el notebook `Información de asteroides.ipynb` y la base de datos `data.csv`. La base de datos deberá estar en el mismo directorio que el notebook
2. Abrir el notebook con Jupyter Notebook

#### OPCIÓN 2: UTILIZAR MYBINDER (ARCHIVOS EN LA NUBE)
1. Utilizar el link provisto, esperar a que cargue la plataforma

#### Manejar las celdas
Para correr una celda debe hacer clic en la misma y luego presionar `SHIFT + ENTER`. A continuación un ejemplo

In [5]:
print("Ahora puedo correr celdas")

Ahora puedo correr celdas

--------------------------

# Base de datos

La base de datos [JPL Small-Body Database Search Engine](https://ssd.jpl.nasa.gov/sbdb_query.cgi) proporciona información sobre asteroides. Es posible realizar una selección de los mismos y descargar los resultados en formato CSV (comma separated value).

Para nuestro estudio del día de hoy se descargó una base de datos, la cual contiene a los asteroides que tienen un diámetro DEFINIDO. Los resultados se almacenan en `data.csv`.

Para cargar la base de datos usaremos la librería `pandas`, además cargaremos la librería `matplotlib` para realizar gráficos más adelante.

In [6]:
import pandas as pd
import matplotlib.pyplot as plt
print("Librerías cargadas")

Librerías cargadas

Ahora que tenemos la librería cargada, podemos cargar la base de datos. Además podemos saber la longitud de la misma (cuántos asteroides contiene), para esto corremos el siguiente código:

In [8]:
data = pd.read_csv("data.csv")
print("Base de datos cargada")
print(len(data["a"]),"asteroides")

Base de datos cargada
139840 asteroides

Ahora nos preguntamos ¿qué columnas contiene mi base de datos? Podemos saber esto utilizando el método `data.columns`

In [10]:
print(data.columns)

Index(['full_name', 'a', 'e', 'i', 'om', 'w', 'q', 'ad', 'per_y', 'H', 'neo',
       'pha', 'rot_per'],
      dtype='object')

No es muy intuitivo, queremos saber qué información contiene cada columna. Lo bueno es que este trabajo ya está realizado y las columnas son.

| Columna | Parámetro | Descripción                                                             |
|---------|-----------|-------------------------------------------------------------------------|
| 1       | Full name | Nombre completo del objeto / Designación                                |
| 2       | a         | Semi eje mayor (UA)                                                     |
| 3       | e         | Excentricidad                                                           |
| 4       | i         | Inclinación, en grados, respecto al plano eclíptico (órbita tierra-sol) |
| 5       | node      | Longitud del nodo ascendente (grados)                                   |
| 6       | peri      | Argumento de perihelio (grados)                                         |
| 7       | q         | Perihelio (UA)                                                          |
| 8       | Q         | Afelio (UA)                                                             |
| 9       | period    | Periodo sidéreo orbital (años)                                          |
| 10      | H         | Magnitud absoluta                                                       |
| 11      | NEO       | Objeto cercano a la tierra NEO, (Y, yes/N, no)                          |
| 12      | PHA       | Asteroide potencialmente peligroso (Y, yes/ N, no)                      |
| 13      | rot_per   | Periodo rotacional del asteroide (horas)                                |

Ahora sabemos qué información contiene la base de datos. Podemos ver las primeras filas de nuestra base de datos compilando el código:

In [12]:
data.head()

,full_name,a,e,i,om,w,q,ad,per_y,H,neo,pha,rot_per
0,1 Ceres (A801 AA),2.765655,0.078392,10.588196,80.267638,73.738268,2.548850,2.982461,4.599443,3.53,N,N,9.074170
1,2 Pallas (A802 FA),2.773815,0.229758,34.897780,172.920179,310.436861,2.136507,3.411122,4.619813,4.22,N,N,7.813200
2,3 Juno (A804 RA),2.668143,0.256967,12.991486,169.852230,247.999240,1.982519,3.353766,4.358347,5.28,N,N,7.210000
3,4 Vesta (A807 FA),2.361659,0.088351,7.141541,103.806059,151.015603,2.153004,2.570315,3.629394,3.31,N,N,5.342128
4,5 Astraea (A845 XA),2.573909,0.190621,5.367587,141.570820,358.659149,2.083269,3.064549,4.129505,6.99,N,N,16.806000

¿Qué podemos ver en estas primeras filas?